@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,300);
$font-family-base: 'Raleway', sans-serif;

/* Top navbar styling */
$nav-color: #E0E5E9;
$navbar-default-bg: $nav-color;
$navbar-default-border: $nav-color;

$navbar-padding-horizontal: 0;

/* Import bootstrap and fontawesome */
@import "bootstrap";
@import "font-awesome";

/* Quick fix of double backslash on content */
.breadcrumb > li + li:before {
  content: "/\00a0";
  padding: 0 5px;
  color: #ccc;
}

.list-group {
  padding-left: 15px;

  .list-group-item {
    &:hover {
        background: #EEF2F5;
    }
  }
}


/* Sidebar */

.sidebar {
    width: 230px;
    float: left;
    display: block;
    background: #111;
    color: #eee;
    position: fixed;
    height: 100%;
    top: 90px;
}

    .sidebar hr {
        border-bottom: 1px solid #333 !important;
    }

    .sidebar ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

        .sidebar ul li {
            list-style-type: none;
        }

    .sidebar .sidebar-inner {
        display: block;
        width: 100%;
        margin: 0 auto;
        position: absolute;
        z-index: 60;
        top: -8px;
        background: #EEF2F5;
        overflow-y: auto;
        height: calc(100% - 80px);
    }

    .sidebar .navi li i {
        margin-right: 5px;
    }

    .sidebar .navi li span i {
        margin: 0;
    }

    .sidebar .navi > li > a {
        display: block;
        padding: 12px 20px;
        font-size: 15px;
        line-height: 25px;
        color: #fff;
        text-decoration: none;
        border-bottom: 1px solid #222;
        background-color: #657D90;
    }

    .sidebar .navi > li.category > span{
        padding: 10px 10px;
        line-height: 25px;
        display: block;
        background-color: #494949;
        font-weight: 600;
    }

        .sidebar .navi > li > a:hover, .sidebar .navi > li.open > a {
            border-bottom: 1px solid #222;
            background-color: #4C6273;
            color: #fff;
        }

    .sidebar .navi li ul {
        display: none;
        background: #181818;
    }

    .sidebar .navi li.open ul {
        display: block;
    }

    .sidebar .navi li ul li a {
        display: block;
        background: none;
        padding: 10px 0;
        padding-left: 30px;
        text-decoration: none;
        color: #999;
        border-bottom: 1px solid #222;
    }

    .sidebar .navi li ul li.active a {
        background: #131313;
        border-bottom: 1px solid #222;
    }

    .sidebar .navi li ul li a:hover {
        background: #131313;
        border-bottom: 1px solid #222;
    }

    /* Sidebar colors */

    .sidebar .navi > li.nlightblue > a:hover,
    .sidebar .navi > li.open.nlightblue > a,
    .sidebar .navi > li.current.nlightblue > a {
        background: #185774 !important;
        -webkit-transition: background 0.5s ease;
        -moz-transition: background 0.5s ease;
        -o-transition: background 0.5s ease;
        transition: background 0.5s ease;
    }

    .sidebar .navi > li.nblue > a:hover,
    .sidebar .navi > li.open.nblue > a,
    .sidebar .navi > li.current.nblue > a {
        background: #1171a3 !important;
        -webkit-transition: background 0.5s ease;
        -moz-transition: background 0.5s ease;
        -o-transition: background 0.5s ease;
        transition: background 0.5s ease;
    }

    .sidebar .navi > li.ngreen > a:hover,
    .sidebar .navi > li.open.ngreen > a,
    .sidebar .navi > li.current.ngreen > a {
        background: #43c83c !important;
        -webkit-transition: background 0.5s ease;
        -moz-transition: background 0.5s ease;
        -o-transition: background 0.5s ease;
        transition: background 0.5s ease;
    }

    .sidebar .navi > li.norange > a:hover,
    .sidebar .navi > li.open.norange > a,
    .sidebar .navi > li.current.norange > a {
        background: #f88529 !important;
        -webkit-transition: background 0.5s ease;
        -moz-transition: background 0.5s ease;
        -o-transition: background 0.5s ease;
        transition: background 0.5s ease;
    }

    .sidebar .navi > li.nred > a:hover,
    .sidebar .navi > li.open.nred > a,
    .sidebar .navi > li.current.nred > a {
        background: #fa3031 !important;
        -webkit-transition: background 0.5s ease;
        -moz-transition: background 0.5s ease;
        -o-transition: background 0.5s ease;
        transition: background 0.5s ease;
    }

    .sidebar .navi > li.nviolet > a:hover,
    .sidebar .navi > li.open.nviolet > a,
    .sidebar .navi > li.current.nviolet > a {
        background: #932ab6 !important;
        -webkit-transition: background 0.5s ease;
        -moz-transition: background 0.5s ease;
        -o-transition: background 0.5s ease;
        transition: background 0.5s ease;
    }

/* Sidebar dropdown */

    .sidebar .sidebar-dropdown {
        text-decoration: none;
    }

    .sidebar .sidebar-dropdown {
        display: none;
    }

        .sidebar .sidebar-dropdown a {
            color: #ddd;
            background-color: #343434;
            padding: 6px;
            text-transform: uppercase;
            text-align: center;
            font-size: 13px;
            display: block;
            border-top: 1px solid #666;
            border-bottom: 1px solid #333;
        }

            .sidebar .sidebar-dropdown a:hover {
                text-decoration: none;
            }

    /* Sidebar widget */

    .sidebar .sidebar-widget {
        padding: 10px 5px;
    }

    .sidebar .ui-datepicker {
        width: 95%;
        margin: 0 auto;
        background: #111;
        color: #888;
        border: 0;
        padding: 0;
    }

    .sidebar .ui-datepicker-header {
        background: #222;
        border: 1px solid #212121;
    }

    .sidebar .ui-datepicker-prev:hover {
        background: transparent;
        border: 0;
        top: 2px !important;
        left: 2px !important;
    }

    .sidebar .ui-datepicker-next:hover {
        background: transparent;
        border: 0;
        top: 2px !important;
        right: 2px !important;
    }

    .sidebar .ui-state-default {
        background: #222;
        border: 0;
        text-align: center;
        color: #ccc;
    }

        .sidebar .ui-state-default:hover {
            background: #282828;
            color: #999;
        }

    .sidebar .ui-state-hightlight, .sidebar .ui-state-active {
        background: #444;
    }



/* Main */

.mainbar {
    position: relative;
    margin-left: 230px;
    margin-right: 0;
    width: auto;
    background: #fff;
    /*min-height: 900px;*/
}

    .mainbar .container {
        width: 100%;
        padding: 0 !important;
    }


/* Matter */

.mainbar .matter {
    border-top: 0px solid #ddd;
    margin: 15px;
    margin-top: 25px;
}

.mainbar .matter h2 {
  margin-top: 0;
}


// Products view

#products-view {

    #price {
        span {
            font-weight: bold;
        }
    }
}
